.header {
    width: 100%;
}
p {
    color: black;
}
h2, span {
    font-size: large;
    font-weight: bold;
}
.webcam {
    margin-top: 300px;
}
body {
    background-size: cover;
}
canvas {
    box-shadow: 5px, 5px, skyblue;
    border-radius: 20px;
}